body{
  background-color: #5c5c5c;
  color: #edf1f2;
}
#main-container{
  background: none;
}
#title-div a{
  color: #edf1f2;
}
#code{
  max-width: 50rem;
}
.left-border{
  border-left: solid 1px #878787;
}
.pl-5{
  padding-left: 5rem;
}
.pt-5{
  padding-top: 5rem;
}
.mt-5{
  margin-top: 5rem;
}
#query-div{
  display: block;
}
.height-50{
  min-height: 50rem;
}
pre{
  max-height: 50rem;
}